
<!-- Include the header partial -->
<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main>
    <h1> About Page </h1>
</main>

<!-- Include the footer partial -->
<%- include('partials/footer') %>
