
<!-- Include the header partial -->
<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main>
    <!-- Your Home Page content here -->
    <div class="welcome-container">
        <h1>Welcome to my portfolio!</h1> <br>
        <p>I'm a passionate second-year student pursuing a degree in Software Engineering Technology with a focus on Artificial Intelligence. My journey in this exciting field has led me to discover my two primary passions: data analysis and web development.</p><br>
        <p>In the world of data, I find myself drawn to the intricate patterns and stories hidden within the numbers. Whether it's unraveling insights from complex datasets or crafting data-driven solutions, I thrive on the challenge of making data meaningful. On the flip side, I'm equally enamored with web development, where I bring creativity to life through code. Designing interactive and user-friendly web experiences is my forte.</p><br>
        <p>Here, you'll find a showcase of my projects and endeavors, reflecting my dedication to both data analysis and web development. Feel free to explore, and don't hesitate to get in touch if you'd like to collaborate or simply discuss the exciting possibilities at the intersection of AI, data, and the web. Thanks for stopping by!</p><br>
        <p class="mission">My mission is to leverage the power of data and technology to drive innovation and create meaningful web experiences that inspire and inform.</p>
    </div>
</main>

<!-- Include the footer partial -->
<%- include('partials/footer') %>
